<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/lectures/Sequential_bootstrap_lecture.pdf">Sequential Bootstrap</a></li>
		        	<li><a href="/lectures/shapley_values.pdf">Shapley Values</a></li>
	        		<li><a href="/lectures/labelling.pdf">Labelling Techniques</a></li>
	        		<li><a href="/lectures/data_structures.pdf">Data Structures</a></li>
	    		</ul>
			</nav>
			<div class="container">
				
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>
