<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/Sequential_bootstrap_lecture.pdf">Sequential Bootstrap</a></li>
		        	<li><a href="/shapley_values.pdf">Shapley Values</a></li>
	        		<li><a href="/labelling.pdf">Labelling Techniques</a></li>
	        		<li><a href="/data_structures.pdf">Data Structures</a></li>
	    		</ul>
			</nav>
